{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_order.order.header.list'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_order.order', 'new') }}
{% endblock %}

{% block main %}
{{ ekyna_table_render(orders) }}
{% endblock %}